<br><br><br>
<h1> &nbsp;Project Manager</h1>

<br><br><br>
<br><br><br>

<h2>&nbsp; &nbsp;Project Manager plans everything,<br> &nbsp; &nbsp;from big project details to micro tasks</h2>
<h3>Manage projects and reach new productivity peak</h3>

   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
   <input type="text" id="emaill" name="emaill" placeholder="Email"> &nbsp;
  
    <button  type="submit" routerLink="/signup">Sign up-it's free </button>
    <br>
    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <a href="/login">Already have an account Login</a>